.animated-border-quote {
  display: inline-block;
  margin: 0.5rem;
  overflow: hidden;
}
.animated-border-quote blockquote {
  background-color: #fff;
  border: solid 2px #757575;
  margin: 0;
  padding: 1em;
  position: relative;
}
.animated-border-quote blockquote:before {
  animation: clockwise 19s infinite cubic-bezier(0.89, 0.23, 0.15, 0.99) alternate-reverse;
  background-color: #fff;
  bottom: 10%;
  content: "";
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 5%;
  height: 125%;
}
.animated-border-quote blockquote:after {
  animation: counter 47s infinite cubic-bezier(0.11, 1.4, 0.56, -0.33);
  background-color: #fff;
  bottom: 10%;
  content: "";
  left: -10%;
  opacity: 0.5;
  position: absolute;
  top: -50%;
  width: 120%;
  height: 150%;
}
.animated-border-quote blockquote cite {
  display: block;
  font-style: italic;
  text-align: right;
}
.animated-border-quote blockquote > * {
  position: relative;
  z-index: 1;
}

@keyframes clockwise {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(170deg);
  }
}
@keyframes counter {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
