<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="A language quiz game, an undercurrent quote & idea generator, an alternative to Wikipedia 'random article', available in 300+ languages🌍🌏🌎" />
    <meta name="keywords" content="wikipedia, wikidata, game, quiz, quote, language, vocabulary">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@knb.wiki" />
    <meta name="twitter:title" content="Knowledge Bomb" />
    <meta name="twitter:description" content="A language quiz game, an undercurrent quote & idea generator, an alternative to Wikipedia 'random article', available in 300+ languages🌍🌏🌎" />
    <meta name="twitter:image" content="https://www.knb.wiki/www/asset/Languages_world_map_rotate_filter_a.png"/>
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="knb.wiki" />
    <meta property="og:title" content="Knowledge Bomb" />
    <meta property="og:description" content="A language quiz game, an undercurrent quote & idea generator, an alternative to Wikipedia 'random article', available in 300+ languages🌍🌏🌎" />
    <meta property="og:url" content="https://www.knb.wiki" />
    <meta property="og:image" content="https://www.knb.wiki/www/asset/screenshot_0.png" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>Knowledge Bomb 🌍🌏🌎 - KnB.wiki</title>

    <link rel="manifest" href="/www/manifest.json">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.21.2/bootstrap-vue.min.css" integrity="sha512-YnP4Ql71idaMB+/ZG38+1adSSQotdqvixQ+dQg8x/IFA4heIj6i0BC31W5T5QUdK1Uuwa01YdqdcT42q+RldAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link type="text/css" rel="stylesheet" href="/www/style.css"/>
    <link type="text/css" rel="stylesheet" href="/www/animated-quote.css"/>
    <link type="image/x-icon" rel="icon" href="https://icons.iconarchive.com/icons/sykonist/popular-sites/32/Wikipedia-globe-icon.png"/>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default%2Ces5%2Ces6%2Ces7%2Ces2015%2Ces2016%2Ces2017%2Ces2018%2Ces2019%2Ces2020"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js" integrity="sha512-XdUZ5nrNkVySQBnnM5vzDqHai823Spoq1W3pJoQwomQja+o4Nw0Ew1ppxo5bhF2vMug6sfibhKWcNJsG8Vj9tg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-vue/2.21.2/bootstrap-vue.min.js" integrity="sha512-Z0dNfC81uEXC2iTTXtE0rM18I3ATkwn1m8Lxe0onw/uPEEkCmVZd+H8GTeYGkAZv50yvoSR5N3hoy/Do2hNSkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-async-computed@3.9.0/dist/vue-async-computed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <header>
      <h1 lang="en">Knowledge Bomb</h1>
      <h1 lang="es">Bomba de Conocimiento</h1>
      <h1 lang="fr">Bombe de Connaissance</h1>
      <h1 lang="ru">Бомба Знаний</h1>
      <h1 lang="de">Wissensbombe</h1>
      <h1 lang="uk">Бомба Знань</h1>
      <h1 lang="pt">Bomba de Conhecimento</h1>
      <h1 lang="it">Bomba della Conoscenza</h1>
      <h1 lang="zh">知识炸弹</h1>
      <h1 lang="zh-CN">知识炸弹</h1>
      <h1 lang="ja">知識爆弾</h1>
      <h1 lang="nl">Kennisbom</h1>
      <h1 lang="ar">قنبلة المعرفة</h1>
      <h1 lang="pl">Bomba Wiedzy</h1>
      <h1 lang="ca">Bomba del Coneixement</h1>
      <h1 lang="fa">بمب دانش</h1>
      <h1 lang="sv">Kunskapsbomb</h1>
      <h1 lang="ko">지식 폭탄</h1>
      <h1 lang="cs">Vědomostní Bomba</h1>
      <h1 lang="fi">Tietopommi</h1>
      <h1 lang="id">Bom Pengetahuan</h1>
      <h1 lang="tr">Bilgi Bombası</h1>
      <h1 lang="no">Kunnskapsbombe</h1>
      <h1 lang="he">פצצת ידע</h1>
      <h1 lang="sr">Бомба Знања</h1>
      <h1 lang="eo">Sciobombo</h1>
      <h1 lang="vi">Quả Bom Tri Thức</h1>
      <h1 lang="bg">Бомба на Знанието</h1>
      <h1 lang="eu">Ezagutza Bonba</h1>
      <h1 lang="da">Vidensbombe</h1>
      <h1 lang="ro">Bombă de Cunoaștere</h1>
      <h1 lang="et">Teadmiste Pomm</h1>
      <h1 lang="hu">Tudásbomba</h1>
      <h1 lang="hr">Bomba Znanja</h1>
      <h1 lang="el">Βόμβα Γνώσησ</h1>
      <h1 lang="sh">Bomba Znanja</h1>
      <h1 lang="gl">Bomba do Coñecemento</h1>
      <h1 lang="lt">Žinių Bomba</h1>
      <h1 lang="sk">Vedomostná Bomba</h1>
      <h1 lang="hy">Գիտելիքի Ռումբ</h1>
      <h1 lang="th">ระเบิดความรู้</h1>
      <h1 lang="zh-TW">知識炸彈</h1>
      <h1 lang="zh-HK">知識炸彈</h1>
      <h1 lang="ms">Bom Pengetahuan</h1>
      <h1 lang="sl">Bomba Znanja</h1>
      <h1 lang="be">Бомба Ведаў</h1>
      <h1 lang="az">Bilik Bombası</h1>
      <h1 lang="nn">Kunnskapsbombe</h1>
      <h1 lang="hi">ज्ञान बम</h1>
      <h1 lang="ta">அறிவு குண்டு</h1>
      <h1 lang="lv">Zināšanu Bumba</h1>
      <h1 lang="mk">Бомба на Знаење</h1>
      <h1 lang="kk">Білім бомбасы</h1>
      <h1 lang="la">Scientia Bomb</h1>
      <h1 lang="ast">Bomba de Conocimiento</h1>
      <h1 lang="bn">জ্ঞান বোমা</h1>
      <h1 lang="ka">Ცოდნის Ბომბი</h1>
      <h1 lang="af">Kennisbom</h1>
      <h1 lang="ur">نالج بم</h1>
      <h1 lang="is">Þekkingarsprengja</h1>
      <h1 lang="bs">Bomba Znanja</h1>
      <h1 lang="ml">വിജ്ഞാന ബോംബ്</h1>
      <h1 lang="ga">Buama Eolais</h1>
      <h1 lang="cy">Bom Gwybodaeth</h1>
      <h1 lang="tl">Bomba ng Kaalaman</h1>
      <h1 lang="uz">Bilim Bombasi</h1>
      <h1 lang="sq">Bomba e Njohurive</h1>
      <h1 lang="ky">Билим Бомбасы</h1>
      <h1 lang="pa">ਗਿਆਨ ਬੰਬ</h1>
      <h1 lang="sw">Bomba la Maarifa</h1>
      <h1 lang="jv">Bom Pengetahuan</h1>
      <h1 lang="mr">नॉलेज बॉम्ब</h1>
      <h1 lang="kn">ಜ್ಞಾನ ಬಾಂಬ್</h1>
      <h1 lang="te">నాలెడ్జ్ బాంబ్</h1>
      <h1 lang="tt">Белем бомбасы</h1>
      <h1 lang="yi">וויסן באָמבע</h1>
      <h1 lang="tg">Бомби Дониш</h1>
      <h1 lang="my">အသိပညာဗုံး</h1>
      <h1 lang="ku">Bombeya Zanînê</h1>
      <h1 lang="lb">Wëssen Bomm</h1>
      <h1 lang="arz">قنبلة المعرفة</h1>
      <h1 lang="mn">Мэдлэгийн Бөмбөг</h1>
      <h1 lang="ne">ज्ञान बम</h1>
      <h1 lang="si">දැනුම බෝම්බය</h1>
      <h1 lang="ht">Bonm Konesans</h1>
      <h1 lang="mg">Baomba Fahalalana</h1>
      <h1 lang="sd">علم بم</h1>
      <h1 lang="gd">Boma Eòlas</h1>
      <h1 lang="so">Bam Aqoon</h1>
      <h1 lang="ps">د پوهې بم</h1>
      <details lang="en">A "random wiki roamer" minigame, a "vocabulary test" tool, a "quiz generator" vis-à-vis Wikipedia, available in 300+ languages 🌍🌏🌎 </details>
      <details lang="es">Un minijuego "vagabundo de wiki aleatorio", una herramienta de "prueba de vocabulario", un "generador de cuestionarios" en relación con Wikipedia, disponible en más de 300 idiomas 🌍🌏🌎 </details>
      <details lang="fr">Un mini-jeu « wiki roamer aléatoire », un outil de « test de vocabulaire », un « générateur de quiz » vis-à-vis de Wikipédia, disponible dans plus de 300 langues 🌍🌏🌎 </details>
      <details lang="ru">Мини-игра «случайный вики-роумер», инструмент «словарного теста», «генератор викторин» по отношению к Википедии, доступный на более чем 300 языках 🌍🌏🌎 </details>
      <details lang="de">Ein "Random-Wiki-Roamer"-Minispiel, ein "Vokabular-Test"-Tool, ein "Quiz-Generator" gegenüber Wikipedia, verfügbar in mehr als 300 Sprachen 🌍🌏🌎 </details>
      <details lang="uk">Міні-гра «випадковий вікі-роумер», інструмент «тестування словникового запасу», «генератор вікторини» щодо Вікіпедії, доступна понад 300 мовами 🌍🌏🌎 </details>
      <details lang="pt">Um minijogo de "roamer wiki aleatório", uma ferramenta de "teste de vocabulário", um "gerador de questionários" em relação à Wikipedia, disponível em mais de 300 idiomas 🌍🌏🌎 </details>
      <details lang="it">Un minigioco "roamer wiki casuale", uno strumento di "test del vocabolario", un "generatore di quiz" rispetto a Wikipedia, disponibile in oltre 300 lingue 🌍🌏🌎 </details>
      <details lang="zh">一个“随机维基漫游”小游戏、一个“词汇测试”工具、一个相对于维基百科的“测验生成器”，支持 300 多种语言 🌍🌏🌎 </details>
      <details lang="zh-CN">一个“随机维基漫游”小游戏、一个“词汇测试”工具、一个相对于维基百科的“测验生成器”，支持 300 多种语言 🌍🌏🌎 </details>
      <details lang="zh-HK">一個“隨機維基漫遊”小遊戲、一個“詞彙測試”工具、一個相對於維基百科的“測驗生成器”，提供 300 多種語言 🌍🌏🌎 </details>
      <details lang="zh-TW">一個“隨機維基漫遊”小遊戲、一個“詞彙測試”工具、一個相對於維基百科的“測驗生成器”，提供 300 多種語言 🌍🌏🌎 </details>
      <details lang="ja">「ランダムウィキローマー」ミニゲーム、「語彙テスト」ツール、ウィキペディアに対する「クイズジェネレーター」、300以上の言語で利用可能 🌍🌏🌎 </details>
      <details lang="nl">Een "willekeurige wiki roamer" minigame, een "vocabulaire test" tool, een "quiz generator" ten opzichte van Wikipedia, beschikbaar in 300+ talen 🌍🌏🌎 </details>
      <details lang="ar">لعبة صغيرة "متجول ويكي عشوائي" ، أداة "اختبار المفردات" ، "منشئ اختبار" مقابل ويكيبيديا ، متوفر بأكثر من 300 لغة 🌍🌏🌎 </details>
      <details lang="pl">Minigra „losowy użytkownik wiki”, narzędzie „test słownictwa”, „generator quizów” w stosunku do Wikipedii, dostępne w ponad 300 językach 🌍🌏🌎 </details>
      <details lang="ca">Un minijoc de "roamer wiki aleatori", una eina de "prova de vocabulari", un "generador de qüestionaris" respecte a la Viquipèdia, disponible en més de 300 idiomes 🌍🌏🌎 </details>
      <details lang="fa">یک مینی بازی «رومور ویکی تصادفی»، یک ابزار «تست واژگان»، یک «سازنده مسابقه» در مقابل ویکی‌پدیا، به بیش از 300 زبان موجود است. 🌍🌏🌎 </details>
      <details lang="sv">Ett "random wiki roamer"-minispel, ett "vokabulärtest"-verktyg, en "quiz-generator" gentemot Wikipedia, tillgängligt på 300+ språk 🌍🌏🌎 </details>
      <details lang="ko">"무작위 위키 로머" 미니게임, "어휘 테스트" 도구, 위키백과에 대한 "퀴즈 생성기", 300개 이상의 언어로 제공 🌍🌏🌎 </details>
      <details lang="cs">Minihra „náhodný wiki roamer“, nástroj „testování slovní zásoby“, „generátor kvízů“ ve vztahu k Wikipedii, dostupné ve více než 300 jazycích 🌍🌏🌎 </details>
      <details lang="fi">"Satunnainen wiki roamer" -minipeli, "sanastotesti" -työkalu, "tietokilpailugeneraattori" Wikipediaan nähden, saatavilla yli 300 kielellä 🌍🌏🌎 </details>
      <details lang="id">Minigame "wiki roamer acak", alat "tes kosakata", "generator kuis" vis-à-vis Wikipedia, tersedia dalam 300+ bahasa 🌍🌏🌎 </details>
      <details lang="tr">Bir "rastgele wiki gezici" mini oyunu, bir "kelime bilgisi testi" aracı, Wikipedia'ya karşı bir "sınav oluşturucu", 300'den fazla dilde mevcut 🌍🌏🌎 </details>
      <details lang="no">Et "tilfeldig wiki-roamer"-minispill, et "vokabulartest"-verktøy, en "quiz-generator" i forhold til Wikipedia, tilgjengelig på 300+ språk 🌍🌏🌎 </details>
      <details lang="he">מיני-משחק "נודד ויקי אקראי", כלי "בדיקת אוצר מילים", "מחולל חידון" מול ויקיפדיה, זמין ב-300+ שפות 🌍🌏🌎 </details>
      <details lang="sr">Мини игра „насумични вики роамер“, алатка за „тестирање речника“, „генератор квизова“ у односу на Википедију, доступна на више од 300 језика 🌍🌏🌎 </details>
      <details lang="vi">Một trò chơi nhỏ "người đi lang thang trên wiki ngẫu nhiên", công cụ "kiểm tra từ vựng", "trình tạo câu hỏi" trên Wikipedia, có sẵn bằng hơn 300 ngôn ngữ 🌍🌏🌎 </details>
      <details lang="da">Et "tilfældig wiki-roamer"-minispil, et "ordforrådstest"-værktøj, en "quiz-generator" i forhold til Wikipedia, tilgængelig på mere end 300 sprog 🌍🌏🌎 </details>
      <details lang="ro">Un minijoc „aleatoriu wiki roamer”, un instrument de „testare de vocabular”, un „generator de chestionare” față de Wikipedia, disponibil în peste 300 de limbi 🌍🌏🌎 </details>
      <details lang="bg">Мини игра „случаен wiki roamer“, инструмент за „тест на речника“, „генератор на викторини“ спрямо Wikipedia, наличен на 300+ езика 🌍🌏🌎 </details>
      <details lang="hu">Egy "véletlenszerű wiki barangoló" minijáték, egy "szókincs tesztelő" eszköz, egy "kvízgenerátor" a Wikipédiához képest, több mint 300 nyelven elérhető 🌍🌏🌎 </details>
      <details lang="sk">Minihra „náhodný wiki roamer“, nástroj na „testovanie slovnej zásoby“, „generátor kvízov“ vo vzťahu k Wikipédii, dostupné vo viac ako 300 jazykoch 🌍🌏🌎 </details>
      <details lang="th">มินิเกม "ผู้ท่องวิกิสุ่ม" เครื่องมือ "ทดสอบคำศัพท์" "ตัวสร้างแบบทดสอบ" กับวิกิพีเดีย พร้อมให้บริการมากกว่า 300 ภาษา 🌍🌏🌎 </details>
      <details lang="hi">एक "यादृच्छिक विकी रोमर" मिनीगेम, एक "शब्दावली परीक्षण" उपकरण, एक "क्विज़ जेनरेटर" विकि-ए-विकिपीडिया, 300+ भाषाओं में उपलब्ध है 🌍🌏🌎 </details>
      <details lang="eo">"Hazarda vikivaganta" miniludo, "vortprovizo-testo" ilo, "kvizgeneratoro" al Vikipedio, havebla en pli ol 300 lingvoj 🌍🌏🌎 </details>
    </header>
    <div id="app">
      <b-jumbotron id="page-header" :header="labelPageTitle" lead="">
        <nav role="menubar">
          <b-row v-show="quizStarted">
              <b-btn variant="outline-light" class="btn-menu-s" id="btn-bomb" v-b-toggle.collapse-hypernyms :title="isCollapsingBomb ? 'detonator' : `B${'o'.repeat(Math.max(2,this.quizCorrect))}m!`"  @click="toggleCollapseBomb" >{{ isCollapsingBomb ? '💣' : '💥' }}</b-btn>
              <b-btn variant="outline-light" class="btn-menu-d" id="btn-toggle-quote" :title="displayTopQuote ? 'If you cannot keep quiet, shut up!' : 'shut up and shine'" @click="toggleDisplayQuote">{{ displayTopQuote ? '🧙💬' : '🧙🔇' }}</b-btn>
              <b-btn variant="outline-light" class="btn-menu-s" id="btn-toggle-image" :title="displayTitleImage ? 'hide image' : 'hint image'" @click="toggleDisplayTitleImg">{{ displayTitleImage ? '🖼' : '⬜' }}</b-btn>
              <b-btn variant="outline-light" class="btn-menu-s" id="btn-toggle-score" :title="displayScoreChart ? 'hide score' : 'show score'" @click="toggleDisplayScoreChart">{{ displayScoreChart ? '📊' : '📋' }}</b-btn>
              <b-btn variant="outline-light" class="btn-menu-s d-none d-sm-inline" id="popover-hotkeys" title="hotkeys">⌨</b-btn>
              <b-popover target="popover-hotkeys" title="Hotkeys" trigger="hover focus" placement="bottom">
                <b-table borderless :items="hotkeyTable">
                  <template #cell(Key)="data"><kbd v-for="k in data.item.Key" :key="k">{{ k }}</kbd></template>
                </b-table>
              </b-popover>
          </b-row>
        </nav>
        <b-container>

          <section role="presentation" v-show="showScore||displayScoreChart" class="score-board pb-4">
            <b-alert variant="info" id="score-alert" :show="showScore">~ Game Over ~<br>difficulty {{difficulties[difficultyIndex-1]['icon']}}　{{levelPlayed}} levels　✔{{quizCorrect}}/{{quizIncorrect}}❌　score: {{score}}% </b-alert>
            <a v-if="showScore&&!quizStarted" class="badge badge-pill badge-primary twitter-share" target="_blank"
              :href="`https://twitter.com/intent/tweet?url=www.knb.wiki&text=%23${labelPageTitle.replace(/ /g,'')} 💣 %23${qlangOpt.text.replace(/ /g,'')}-%23${alangOpt.text.replace(/ /g,'')} ${[alangOpt.label_m0, alangOpt.label_m1, alangOpt.label_m2][match_mode]} @ difficulty${difficulties[difficultyIndex-1]['icon']} level~${levelPlayed} ✔${quizCorrect}/${quizIncorrect}❌ score: ${score}%25 `"
              @click="shareImage">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"></path>
              </svg> Share on Twitter</a>

            <b-progress class="mt-4 mb-2"
              v-show="showScore||displayScoreChart"
              :max="quizPlayed"
              :title="Object.values(board).filter(v=>v.length>0).length +' Levels'"
              v-b-popover.hover.left="`${quizPlayed}❔　${quizCorrect}✔　${quizIncorrect}❌`"
              v-b-popover.click.left="`${quizPlayed}❔　${quizCorrect}✔　${quizIncorrect}❌`">
              <b-progress-bar :value="quizCorrect" variant="success"></b-progress-bar>
              <b-progress-bar :value="quizIncorrect" variant="danger"></b-progress-bar>
            </b-progress>
            <b-progress v-for="([k,v], i) in Object.entries(board).reverse()" :key="i"
              v-show="showScore||displayScoreChart"
              :max="longestLevelCount"
              :title="'Level '+ k"
              :animated="k==lvl"
              v-b-popover.hover.left="`${v.length}❔　${v.filter(u=>u>0).length}✔　${v.filter(u=>u<0).length}❌`"
              v-if="v.length > 0">
              <b-progress-bar v-for="(u, index) in scoreBar(v)" :key="index"
                :value="Math.abs(u)" :variant="u>0?'success':'danger'"></b-progress-bar>
            </b-progress>
            <hr>
          </section>

          <section role="option">
            <b-form-group
              v-show="!quizStarted"
              class="mt-4"
              horizontal label-cols-sm="5" label-cols-md="4"
              :label="labelAnswer"
            >
              <div id="alang-form-group" class="lang-form-group" style="display: flex;">
                <b-dropdown variant="outline-light"
                  :disabled="startBtnDisabled"
                  class="dropdown-lang alang-leximap"
                  text="🌍🌏🌎" no-caret>
                  <b-btn v-for="(l,i) in aLeximap" :key="i" 
                    class="btn-dropdown-lang" variant="outline-light" :size="i>0?'sm':''" 
                    :style="`top:${l.coord_y-130}px;left:${l.coord_x*Math.max(1,windowWidth/1440)-100}px;`"
                    @click="onClickLeximapBtnAlang($event, l)">
                    {{ l.text }}
                  </b-btn>
                </b-dropdown>
                <div class="lang-select-wrapper" id="alang-select-wrapper" tabindex="-1" @mouseover="onHoverAlangSelect($event)">
                  <b-form-select
                    v-model="alang"
                    :options="alangOptions"
                    :disabled="startBtnDisabled"
                    label="alang">
                  </b-form-select>
                </div>
              </div>
            </b-form-group>
            <b-row v-show="!quizStarted&&qlang&&alang"><b-col><b-btn variant="outline-light" class="language-options-switcher p-0 border-0" @click="[alang,qlang]=[qlang,alang]">🔃</b-btn></b-col></b-row>
            <b-form-group
              v-show="!quizStarted"
              horizontal label-cols-sm="5" label-cols-md="4"
              class="pb-2"
              :label="labelQuestion"
            >
              <div id="qlang-form-group" class="lang-form-group" style="display: flex;">
                <b-dropdown variant="outline-light"
                :disabled="startBtnDisabled"
                class="dropdown-lang qlang-leximap"
                text="🌍🌏🌎" no-caret>
                  <b-btn v-for="(l,i) in qLeximap" :key="i" 
                    class="btn-dropdown-lang" variant="outline-light" size="sm"
                    :style="`top:${l.coord_y-130}px;left:${l.coord_x*Math.max(1,windowWidth/1440)-100}px;color:${l.value==alang?'var(--blue)':'var(--japanese-indigo)'};`"
                    @click="onClickLeximapBtnQlang($event, l)">
                    {{ l.text.replace(/ *\([^)]*\) */g, '') }}
                  </b-btn>
                </b-dropdown>
                <div class="lang-select-wrapper" id="qlang-select-wrapper" tabindex="-1" @mouseover="onHoverQlangSelect($event)">
                  <b-form-select
                    v-model="qlang"
                    :options="qlangOptions"
                    :disabled="startBtnDisabled"
                    label="qlang">
                  </b-form-select>
                </div>
              </div>
            </b-form-group>
            <b-form-group 
              v-show="!quizStarted&&qlang&&alang"
              v-slot="{ ariaMatchMode }"
              class="my-4"
              horizontal label-cols-sm="5" label-cols-md="4"
              label="">
              <b-form-radio-group
                id="radio-match-mode"
                v-model="match_mode"
                :options="match_mode_options"
                :aria-describedby="ariaMatchMode"
                :disabled="startBtnDisabled"
                name="match-mode-options"
                button-variant="secondary"
              ></b-form-radio-group>
            </b-form-group>
            <b-form-group 
              v-show="!quizStarted&&qlang&&alang&&match_mode>=0&&(match_mode>0||qlang!==alang)"
              horizontal label-cols-sm="5" label-cols-md="4"
              :label="labelGameStart"
            >
              <b-btn variant="outline" size="lg"
                v-for="(d,i) in showDifficulties" :key="i"
                :style="`font-size: x${d.value>=10?'':'x'}-large;display:${d.hide?'none':'initial'}`"
                :disabled="d.disabled||startBtnDisabled"
                :title="d.tooltip"
                v-b-popover.hover.bottom=""
                @click="startGameAtDifficulty(d.value)">
                {{ d.icon }}
              </b-btn>
            </b-form-group>
          </section>

          <section role="treeitem">
            <b-collapse id="collapse-hypernyms" class="py-2">
              <hr>
              <div class="text-center mb-2">
                <b-btn variant="outline-light" size="lg" style="font-size: xx-large;" id="btn-toggle-hypernym-tree" title="tree" @click="toggleDisplayHypernymTree">🌲</b-btn>
                <b-btn variant="outline-light" size="lg" style="font-size: xx-large;" title="switch language" @click="switchHypernymLang">🔡</b-btn>
                <b-btn variant="outline-light" size="lg" style="font-size: xx-large;" title="reverse selection" @click="reverseHypernymSelect">🔛</b-btn>
              </div>
              <b-form-group  label=" " v-slot="{ ariaHypernymOptions }">
                <b-form-checkbox-group v-show="!displayHypernymTree"
                  class="list-hypernyms"
                  v-model="hypernyms"
                  :options="hypernym_list"
                  aria-describedby="ariaHypernymOptions"
                  stacked switches size="sm">
                </b-form-checkbox-group>
                <b-form-checkbox-group v-show="displayHypernymTree"
                  class="tree-hypernyms"
                  v-model="hypernyms"
                  :options="hypernym_tree"
                  aria-describedby="ariaHypernymOptions"
                  stacked size="sm">
                </b-form-checkbox-group>
              </b-form-group>
            </b-collapse>
          </section>

        </b-container>
      </b-jumbotron>
      
      <main>
        <b-container id="quiz-container">
          <section role="doc-pullquote">
            <b-row v-show="displayTopQuote" class="justify-content-center" :class="{'mb-4': !quizStarted}"
              @click="fetchLeadQuote([q_title_en,choices[answer],qHypernymTexts[0],qHypernymTexts[1]], quizStarted)">
              <b-col class="flex animated-border-quote" :class="quizStarted?'col-sm-11 col-md-10 col-lg-9 col-xl-8 ':'col-sm-11 col-md-8 col-lg-6 col-xl-5'">
                <blockquote>
                  <p @mouseover="speakQuote" id="quote-quote">{{ quoteQuote }}</p>
                  <cite id="quote-title">{{ quoteTitle }}</cite>
                </blockquote>
              </b-col>
            </b-row>
          </section>
  
          <section role="progressbar">
            <b-card-group v-show="quizStarted||(!quizStarted&&showScore)" id="hilbert-grid"
              class="hypernym-grid" :class="{'float-right': windowWidth>1200}"
              :style="`margin-right: ${quizStarted&&windowWidth>1200 ? Math.min(0,360-windowWidth/3)+'px' : 'auto'};`"
              @click="toggleHypernymGridTextIndex">
              <b-card v-for="h in hypernym_grid"
                class="hypernym-tile m-0 p-0"
                :style="`background-color: ${hsv2hex(((h.place+hypernymColorHue)%64)/64, Math.max(0,Math.min(1,(h.count+1)/hyperGeoMean)), 255)};`"
              >
                <b-card-title
                  :style="`font-size: ${h.texts[hypernymGridTextIndex].length > 1 ? '60%' : '160%'}`">
                  {{ h.texts[hypernymGridTextIndex] }}
                </b-card-title>
              </b-card>
            </b-card-group>

            <b-row class="flex my-2" id="progress-row" v-show="quizStarted">
              <b-col class="flex px-0">
              <b-btn class="m-0 p-0 border-0" variant="outline-light" @click="toggleDisplayTitleLeximap">🗺</b-btn>
              <b-progress class="d-inline-flex game-progress" :max="levelMaxCap+10" height="2rem" striped :animated="progressAnimate">
                <b-progress-bar class="bg-steel-blue" style="animation-direction: reverse;"
                  :value="lvl+10"
                  :label="`Lv. ${lvl} ✔${quizCorrect}/${quizPlayed}`">
                </b-progress-bar>
              </b-progress>
              <b-btn class="bd-steel-blue bg-steel-blue-hover mr-1 py-1 float-right" variant="outline-primary" @click="endGame">End</b-btn>
              </b-col>
            </b-row>

            <b-row v-if="displayTitleLeximap&&q_id>0">
              <b-col class="title-leximap">
                <a v-for="(l,i) in titleLeximap" :key="i" 
                  variant="outline-light" size="sm"
                  :style="`top:${l.coord_y-140}px;left:${l.coord_x*leximapXfactor-90}px;color:${l.code==qlang?'var(--blue)':l.code==alang?'var(--green)':'var(--japanese-indigo)'};`"
                  :href="`https://${l.code}.wikipedia.org/wiki/${l.text}`" target="_blank"
                  :title="`${l.text} - ${l.lang}`">
                  {{ l.text.replace(/ *\([^)]*\) */g, '') }}
                </a>
              </b-col>
            </b-row>
          </section>
  
          <section role="application">
            <b-row v-if="quizStarted" class="justify-content-center">
              <b-col class="title-box px-0" 
                sm="12" :md="Math.max(10,difficultyIndex+2)" :lg="Math.max(8,difficultyIndex+1)" :xl="Math.max(6,difficultyIndex)"
                @touchstart="touchStart($event)"
                @touchend="touchEnd($event)"
                @click="toggleDisplayTitleImg"
                :style="displayTitleImage ? `background-image:url(${titleImageUrl});` : 'border-bottom: 1px solid lightgrey;box-sizing:border-box;'">
                <h2 class="display-3 my-4 mx-2 align-bottom">
                  <a class="title-link" target="_blank"
                    :href="q_title ? `https://${qlang}.wikipedia.org/wiki/${q_title}` : `https://www.google.com/search?q=${q_desc}`"
                    :style="q_desc ? `font-size: ${titleDescFontSize}%; background-color: #f5f5f5Bf;` : ''"
                    @mouseover="speakTitle"
                    @click="toggleDisplayTitleImg">
                    {{ qText }}
                  </a>
                </h2>
              </b-col>
            </b-row>

            <b-row class="justify-content-center">
              <b-col sm="12" :md="Math.max(10,difficultyIndex+2)" :lg="Math.max(8,difficultyIndex+1)" :xl="Math.max(6,difficultyIndex)" class="choices p-0">
                <b-button secondary
                v-for="(choice,index) in choices" :key="index"
                  :style="`height: ${choiceHeight}px; font-size: ${choiceFontSize}px`"
                  :class="`col-${Math.ceil(12/Math.floor(Math.sqrt(difficulty)))} choice-d-${difficulty} btn-choice`"
                  :id="`choice-${index}`"
                  @click="selectChoice($event,index)"
                  @touchstart="touchStart($event,index)"
                  @touchend="touchEnd($event)">
                  {{ choice }}
                </b-button>
              </b-col>
            </b-row>
          </section>

        </b-container>
      </main>

      <b-alert
        v-model="showBottomAlert"
        class="position-fixed fixed-bottom m-0 rounded-0 px-4"
        style="z-index: 20000;"
        variant="warning"
        dismissible
      >
        This site does not use any analytical or marketing cookies. Only functional cookies are used for remembering language setting and game progress. <br> 
        Third-party cookies from wikimedia.org may present for accessing wikidata and wikiquote: <a href="https://foundation.wikimedia.org/wiki/Cookie_statement">Wikimedia cookie statement</a>
      </b-alert>
      <footer class="text-muted">KnB.wiki © 2021-<script>document.write(new Date().getFullYear())</script></footer>
    </div>
    <script type="text/javascript" src="/www/wikiquote.js"></script>
    <script type="text/javascript" src="/www/app.js"></script>
  </body>
</html>
