<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>KB</title>

    <link type="image/x-icon" rel="icon" href="https://icons.iconarchive.com/icons/sykonist/popular-sites/32/Wikipedia-globe-icon.png"/>
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link type="text/css" rel="stylesheet" href="./www/style.css"/>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="https://unpkg.com/vue-async-computed"></script>
  </head>
  <body>
    <div id="app">
      <b-jumbotron class="" :header="pageTitle" lead="">
        <b-container>
          <b-row class="wikiquote justify-content-center pt-2"
            @click="fetchLeadQuote([q_title_en,choices[answer],qHypernymTexts[0],qHypernymTexts[1]], quizStarted)">
            <b-col class="flex col-sm-10 col-md-9 col-lg-8 col-xl-7" >
              <span style="display: none;" id="quote-lang">{{ quoteLang }}</span>
              <p @mouseover="speakQuote" id="quote-quote">{{ quoteQuote }}</p>
              <p class="float-right" id="quote-title">{{ quoteTitle }}</p>
            </b-col>
          </b-row>

          <b-form-group
            v-show="!quizStarted"
            horizontal
            label-cols-sm="5"
            label-cols-md="4"
            :label="labelAnswer"
          >
            <div style="display: flex;">
              <b-form-select v-model="alang" :options="alangOptions" label="alang"></b-form-select>
              <b-dropdown variant="outline-light" class="dropdown-lang" text="🗺" no-caret>
                <b-btn v-for="(l,i) in aLeximap" :key="i" 
                  class="btn-dropdown-lang" variant="outline-light" :size="i>0?'sm':''" 
                  :style="`top:${l.coord_y-120}px;left:${l.coord_x*Math.max(1,windowWidth/1440)-100}px;`"
                  @click="onClickLeximapBtnAlang($event, l)">
                  {{ l.text }}
                </b-btn>
              </b-dropdown>
            </div>
          </b-form-group>
          <b-form-group
            v-show="!quizStarted"
            horizontal
            label-cols-sm="5"
            label-cols-md="4"
            :label="labelQuestion"
          >
            <div style="display: flex;">
              <b-form-select v-model="qlang" :options="qlangOptions" label="qlang" class=""></b-form-select>
              <b-dropdown variant="outline-light" class="dropdown-lang" text="🗺" no-caret>
                <b-btn v-for="(l,i) in qLeximap" :key="i" 
                  class="btn-dropdown-lang" variant="outline-light" size="sm"
                  :style="`top:${l.coord_y-120}px;left:${l.coord_x*Math.max(1,windowWidth/1440)-100}px;color:${l.value==alang?'var(--blue)':'var(--japanese-indigo)'};`"
                  @click="onClickLeximapBtnQlang($event, l)">
                  {{ l.text.replace(/ *\([^)]*\) */g, '') }}
                </b-btn>
              </b-dropdown>
            </div>
          </b-form-group>
          <b-form-group 
            v-show="!quizStarted&&qlang&&alang&&qlang!==alang"
            horizontal
            label-cols-sm="5"
            label-cols-md="4"
            :label="labelGameStart"
          >
              <b-btn v-show="showScore" variant="outline" size="lg" style="font-size: xx-large;" :disabled="startBtnDisabled" @click="setDifficulty(1)">1️⃣</b-btn>
              <b-btn v-show="showScore" variant="outline" size="lg" style="font-size: xx-large;" :disabled="startBtnDisabled" @click="setDifficulty(2)">2️⃣</b-btn>
              <b-btn variant="outline" size="lg" style="font-size: xx-large;" :disabled="startBtnDisabled" @click="setDifficulty(3)">3️⃣</b-btn>
              <b-btn variant="outline" size="lg" style="font-size: xx-large;" :disabled="startBtnDisabled" @click="setDifficulty(4)">4️⃣</b-btn>
              <b-btn variant="outline" size="lg" style="font-size: xx-large;" :disabled="startBtnDisabled" @click="setDifficulty(6)">6️⃣</b-btn>
              <b-btn variant="outline" size="lg" style="font-size: xx-large;" :disabled="startBtnDisabled" @click="setDifficulty(8)">8️⃣</b-btn>
              <b-btn variant="outline" size="lg" style="font-size: xx-large;" :disabled="startBtnDisabled" @click="setDifficulty(9)">9️⃣</b-btn>
              <b-btn v-show="showScore" variant="outline" size="lg" style="font-size: x-large;" :disabled="startBtnDisabled" @click="setDifficulty(12)">1️⃣2️⃣</b-btn>
              <b-btn v-show="showScore" variant="outline" size="lg" style="font-size: x-large;" :disabled="startBtnDisabled" @click="setDifficulty(16)">1️⃣6️⃣</b-btn>

              <!-- <b-btn style="width: 100%;" :disabled="startBtnDisabled" 
                :class="{disabled:startBtnDisabled}"
                @click="newGame">
                 &gt;&gt;&gt; &nbsp; {{ startBtnTxt }} &nbsp; &lt;&lt;&lt; 
              </b-btn> -->
          </b-form-group>
        </b-container>
      </b-jumbotron>
      
      <b-container>
        <b-row v-if="quizStarted">
          <b-collapse id="collapse-hypernyms">
            <b-form-group label=" " v-slot="{ ariaDescribedby }">
              <b-form-checkbox-group class="group-hypernyms mt-4"
              v-model="hypernyms"
              :options="hypernym_options"
              :aria-describedby="ariaDescribedby"
              stacked switches size="sm"
              ></b-form-checkbox-group>
              <b-col class="text-center">
                <b-btn variant="outline-light" size="lg" style="font-size: xx-large;" @click="switchHypernymLang">🔄</b-btn>
                <b-btn variant="outline-light" size="lg" style="font-size: xx-large;" @click="reverseHypernymSelect">🔛</b-btn>
              </b-col>
            </b-form-group>
          </b-collapse>
          <b-col class="flex">
            <b-btn v-b-toggle.collapse-hypernyms  class="float-right" variant="outline-light">💣</b-btn>
          </b-col>
        </b-row>

        <b-row class="flex" v-if="quizStarted">
          <b-progress class="d-inline-flex col col-9 col-sm-10 col-xl-11 p-0" max="63" height="2rem" striped :animated="progressAnimate">
            <b-progress-bar class="bg-steel-blue" style="animation-direction: reverse;"
              :value="lvl+10"
              :label="`Lv. ${lvl} (${quizPlayed})`">
            </b-progress-bar>
          </b-progress>
          <b-col class="col-3 col-sm-2 col-xl-1 pr-0">
            <b-btn class="w-100 bd-steel-blue bg-steel-blue-hover" variant="outline-primary"  v-on:click="endGame">End</b-btn>
          </b-col>
        </b-row>

        <div class="justify-content-center">
          <b-row v-if="quizStarted" >
            <b-col class="title-box px-0" 
              sm="11" md="10" lg="9" xl="7"
              @touchstart="touchStart($event)"
              @touchend="touchEnd($event)"
              @click="toggleDisplayTitleImg"
              :style="displayTitleImage ? `background-image:url(${titleImageUrl});` : 'border:1px outset;box-sizing:border-box;'">
              <h2 class="display-3 my-4 mx-2">
                <a class="title-link" target="_blank"
                  @mouseover="speakTitle"
                  @click="toggleDisplayTitleImg"
                  :href="`https://${qlang}.wikipedia.org/wiki/${q_title}`">
                  {{ q_title }}
                </a>
              </h2>
            </b-col>
          </b-row>

          <b-row>
            <b-col sm="11" md="10" lg="9" xl="7" class="choices p-0">
              <b-button secondary class="btn-choice" :class="`col-`+12/Math.floor(Math.sqrt(difficulty))"
                v-for="(choice,index) in choices" :key="index"
                :style="`height: ${choiceHeight}px; font-size: ${choiceFontSize}px`"
                :id="`choice-${index}`"
                @click="selectChoice($event,index)"
                @touchstart="touchStart($event,index)"
                @touchend="touchEnd($event)">
                {{ choice.replace(/ *\([^)]*\) */g, '') }}
              </b-button>
            </b-col>
          </b-row>
        </div>

        <div v-if="showScore">
          <b-alert variant="success" :show="showScore">Game Over ~  difficulty {{ difficulty }} ~ score {{ score }}%</b-alert>
          <b-progress class="my-1"
            :max="quizPlayed"
            :title="Object.values(board).filter(v=>v.length>0).length +' Levels'"
            v-b-popover.hover.left="`${quizPlayed}❔　${quizCorrect}✔　${quizPlayed-quizCorrect}❌`"
            v-b-popover.click.left="`${quizPlayed}❔　${quizCorrect}✔　${quizPlayed-quizCorrect}❌`">
            <b-progress-bar :value="quizCorrect" variant="success"></b-progress-bar>
            <b-progress-bar :value="quizPlayed-quizCorrect" variant="danger"></b-progress-bar>
          </b-progress>
          <b-progress v-for="([k,v], i) in Object.entries(board)" :key="i"
            :max="Math.max.apply(Math,Object.values(board).map(v => v.length))"
            :title="'Level '+ k"
            :animated="k==lvl"
            v-b-popover.hover.left="`${v.length}❔　${v.filter(u=>u>0).length}✔　${v.filter(u=>u<0).length}❌`"
            v-if="v.length > 0">
            <b-progress-bar v-for="(u, index) in scoreBar(v)" :key="index"
              :value="Math.abs(u)" :variant="u>0?'success':'danger'"></b-progress-bar>
          </b-progress>
        </div>
      </b-container>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="./www/wikiquote.js"></script>
    <script type="text/javascript" src="./www/app.js"></script>
  </body>
</html>
