:root {
  --body-background: #f9f9f9;
  --mute-neutral-bg: #afb8c133;
  --japanese-indigo: #1b4157;
  --half-jpn-indigo: #1b415788;
  --jelly-bean-blue: #437c9b;
  --moonstones-blue: #71a6c1;
  --steel-wiki-blue: #3888b6;
  --light-wiki-blue: #77c1f6;
}
body {
  background-color: var(--body-background);
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
            user-select: none;
}
#app {
  position: relative;
  min-height: 100vh;
}
#quiz-container {
  padding-bottom: 2rem;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2rem;
  padding: 0.25rem 0;
  text-align: center;
  width: 100%;
  clear: both;
  background-color: var(--mute-neutral-bg);
}
h1 {
  text-transform: capitalize;
}
.jumbotron {
  background-image: linear-gradient(to top, var(--light-wiki-blue) 0,#e8f2f8 1px,#ffffff 100%);
}
.bg-steel-blue {
  background-color: var(--steel-wiki-blue);
}
.bd-steel-blue {
  color: var(--steel-wiki-blue);
  border-color: var(--steel-wiki-blue);
}
.bg-steel-blue-hover:hover {
  background-color: var(--steel-wiki-blue);
}
.btn-choice {
  border: none;
  padding: 0.15rem;
  overflow-wrap: break-word;
  overflow: visible;
}
.btn-secondary {
  background-color: var(--body-background);
  color: var(--jelly-bean-blue);
}
.btn-secondary:hover {
  background-color: var(--jelly-bean-blue);
}
.btn-secondary:focus {
  background-color: var(--steel-wiki-blue);
}
.btn-outline-light {
  padding: 0 0.5rem;
  border-color: transparent;
}
.btn-outline-light:hover {
  border-style: dotted;
  border-color: var(--jelly-bean-blue);
}
.btn-outline:hover {
  border-style: dotted;
  border-color: var(--jelly-bean-blue);
  box-shadow: 0 0.5rem 0.5rem -0.4rem var(--half-jpn-indigo);
  transform: translateY(-0.2rem);
 }
.btn-outline.disabled:hover {
  background-color: var(--body-background);
}
.title-box {
  padding: 5rem 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
}
a.title-link {
  color: black;
  background-color: #f5f5f58f;
  text-decoration: none;
}
.dropdown-lang .dropdown-menu {
  position: fixed!important;
  transform: translate(0%, 0%)!important;
  left: 1%!important;
  top: 38%!important;
  width: 98%;
  min-height: 680px;
  max-height: 750px;
  z-index: 10000;
  border: none;
  background-size: cover;
  background-attachment: local;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0.5rem 0.5rem 0.5rem -0.6rem var(--japanese-indigo);
}
.dropdown-lang.alang-leximap .dropdown-menu  {
  background-image: url('./asset/Languages_world_map_rotate_filter_a.png');
}
.dropdown-lang.qlang-leximap .dropdown-menu  {
  background-image: url('./asset/Languages_world_map_rotate_filter_q.png');
}
.dropdown-lang .btn-dropdown-lang {
  position: absolute;
  white-space: nowrap;
  color: var(--japanese-indigo);
}
.dropdown-lang ul button:hover {
  font-size: 105%;
  transform: translate(-5%,-10%);
  border-style: dashed;
  border-color: var(--jelly-bean-blue);
  box-shadow: 0 0.2rem 0.2rem -0.15rem var(--half-jpn-indigo);
  z-index: 100;
}
.dropdown-lang.show .dropdown-toggle {
  border-style: dotted;
  border-color: var(--jelly-bean-blue);
}
#quote-quote {
  font-style: italic;
  margin-bottom: 0;
}
#quote-title {
  font-style: oblique;
}
.group-hypernyms {
  column-count: 5;
} 
.custom-switch {
  width: 12.25rem;
}
.custom-control-input:checked~.custom-control-label::before {
  background-color: var(--steel-wiki-blue)!important;
}
.progress {
  border-radius: 0%;
  background-color: #e9ecef8f;
}
.popover {
  max-width: 360px;
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 0.5rem -0.6rem var(--japanese-indigo);
}
.popover-header {
  background-color: var(--body-background);
}
.popover kbd {
  margin: 0 3px;
  padding: 3px 5px;
  color: #212529;
  background-color: #f6f8fa;
  box-shadow: inset 0 -1px 0 var(--mute-neutral-bg);
  border: 1px solid var(--mute-neutral-bg);
  border-radius: 6px;
}
@media (max-height: 950px) {
  .dropdown-lang .dropdown-menu {
    top: 5%!important;
  }
}
@media (max-width: 1200px) {
  .dropdown-lang .dropdown-menu {
    top: 5%!important;
  }
  .group-hypernyms {
    column-count: 4;
  }
}
@media (max-width: 992px) {
  .group-hypernyms {
    column-count: 3;
  }
  .title-link {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .group-hypernyms {
    column-count: 3;
  }
  .title-link {
    font-size: 3.2rem;
  }
}
@media (max-width: 576px) {
  body, html {
    padding:0;
    overflow-x: hidden;
  }
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
    margin-bottom:0;
  }
  .title-link {
    font-size: 3rem;
  }
  .mobile-w-0 {
    max-width: 0%;
  }
  .group-hypernyms {
    column-count: 2;
  }
  #wikiquote {
    padding-left: 1rem;
  }
}
@media (max-width: 455px) {
  h2.display-3 {
    line-height: 0.667;
  }
  .title-link {
    font-size: 2.5rem;
  }
}
@media (max-width: 380px) {
  .title-link {
    font-size: 2.25rem;
  }
}