:root {
  --body-background: #f9f9f9;
  --mute-neutral-bg: #afb8c133;
  --japanese-indigo: #1b4157;
  --half-jpn-indigo: #1b415788;
  --jelly-bean-blue: #437c9b;
  --moonstones-blue: #71a6c1;
  --steel-wiki-blue: #3888b6;
  --light-wiki-blue: #77c1f6;
  --primary: #1b8cd8!important;
}
body {
  background-color: var(--body-background);
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
            user-select: none;
}
header {
  display: none;
}
#app {
  position: relative;
  min-height: 100vh;
}
#quiz-container {
  padding-bottom: 2rem;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2rem;
  padding: 0.25rem 0;
  text-align: center;
  width: 100%;
  clear: both;
  background-color: var(--mute-neutral-bg);
}
h1 {
  text-transform: capitalize;
}
.jumbotron {
  background-image: linear-gradient(to top, var(--light-wiki-blue) 0,#e8f2f8 1px,#ffffff 100%);
}
.bg-steel-blue {
  background-color: var(--steel-wiki-blue);
}
.bd-steel-blue {
  color: var(--steel-wiki-blue);
  border-color: var(--steel-wiki-blue);
}
.bg-steel-blue-hover:hover {
  background-color: var(--steel-wiki-blue);
}
.btn-menu-s {
  width: 50px;
  font-size: x-large;
}
.btn-menu-d {
  width: 70px;
}
.btn-choice {
  border: none;
  padding: 0.15rem;
  overflow-wrap: break-word;
  overflow: visible;
}
.btn-secondary {
  background-color: var(--body-background);
  color: var(--jelly-bean-blue);
}
.btn-secondary:disabled {
  background-color: var(--body-background);
  color: var(--jelly-bean-blue);
  opacity: 0.5;
}
.btn-secondary:not(:disabled):not(.disabled).active {
  background-color: var(--jelly-bean-blue);
  color: white;
}
.btn-secondary:hover {
  background-color: var(--jelly-bean-blue);
}
.btn-secondary:focus {
  background-color: var(--steel-wiki-blue);
}
.btn-outline-light {
  padding: 0 0.5rem;
  border-color: transparent;
}
.btn-outline-light:hover {
  border-color: var(--light-wiki-blue);
}
.btn-outline:hover {
  outline: 0;
  border-color: var(--light-wiki-blue);
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%); 
 }
.btn-outline.disabled:hover {
  background-color: var(--body-background);
}
.title-box {
  padding: 5rem 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  image-rendering: smooth;
}
a.title-link {
  display: inline-block;
  color: black;
  background-color: #f5f5f58f;
  text-decoration: none;
}
button.dropdown-toggle {
  border-color: #ced4da8f;
  border-radius: 2rem;
}
button.dropdown-toggle:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.dropdown-lang.show button.dropdown-toggle {
  border-color: var(--light-wiki-blue);
}
.lang-select-wrapper {
  display: contents;
}
.lang-select-wrapper:hover::before {
  content: "👈　";
}
.dropdown-lang .dropdown-menu {
  position: fixed!important;
  transform: translate(0%, 0%)!important;
  left: 1%!important;
  top: 28%!important;
  width: 98%;
  min-height: 680px;
  max-height: 750px;
  z-index: 10000;
  border: none;
  background-size: cover;
  background-attachment: local;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0.5rem 0.5rem 0.5rem -0.6rem var(--japanese-indigo);
}
.dropdown-lang.alang-leximap .dropdown-menu  {
  background-image: url('./asset/Languages_world_map_rotate_filter_a.png');
}
.dropdown-lang.qlang-leximap .dropdown-menu  {
  background-image: url('./asset/Languages_world_map_rotate_filter_q.png');
}
.dropdown-lang .btn-dropdown-lang {
  position: absolute;
  white-space: nowrap;
  color: var(--japanese-indigo);
}
.dropdown-lang ul button:hover {
  font-size: 105%;
  transform: translate(-5%,-10%);
  border-style: dashed;
  border-color: var(--jelly-bean-blue);
  box-shadow: 0 0.2rem 0.2rem -0.15rem var(--half-jpn-indigo);
  z-index: 100;
}
.language-options-switcher {
  position: absolute;
  right: -20px;
  top: -25px;
  z-index: 1;
}
.title-leximap {
  position: absolute;
  left: 0;
  min-height: 660px;
  background-color: white;
  opacity: 0.99;
  z-index: 1;
  overflow: auto;
  cursor: move;
  cursor: grab;
  cursor: -webkit-grab;
  -webkit-overflow-scrolling: touch;
}
.title-leximap.grabbing{
  cursor: grabbing; 
  cursor: -webkit-grabbing;
}
.title-leximap a {
  position: absolute;
  white-space: nowrap;
  text-decoration: none;
  color: var(--japanese-indigo); 
}
.game-progress {
  width: 91%;
}
#quote-quote {
  font-style: italic;
  margin-bottom: 0;
}
#quote-title {
  font-style: oblique;
}
.hypernym-grid {
  width: 320px;
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
  cursor: pointer;
}
.hypernym-grid-centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  margin-bottom: 20px;
}
.hypernym-grid .card-body {
  padding: 4px 0;
}
.hypernym-grid .card-title {
  color: var(--body-background);
  text-align: center;
}
.hypernym-tile {
  width: 40px;
  min-width: 40px;
  height: 40px;
  border: none;
  border-radius: 0%;
}
.tree-hypernyms {
  column-count: 2;
}
.list-hypernyms {
  column-count: 5;
}
.custom-switch {
  min-width: 12rem;
}
.custom-control-input:checked~.custom-control-label::before {
  background-color: var(--steel-wiki-blue)!important;
  border-color: var(--steel-wiki-blue)!important;
}
.progress {
  border-radius: 0%;
  background-color: #e9ecef8f;
}
.popover {
  max-width: 400px;
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 0.5rem -0.6rem var(--japanese-indigo);
}
.popover-header {
  background-color: var(--body-background);
}
.popover kbd {
  margin: 0 3px;
  padding: 3px 5px;
  color: #212529;
  background-color: #f6f8fa;
  box-shadow: inset 0 -1px 0 var(--mute-neutral-bg);
  border: 1px solid var(--mute-neutral-bg);
  border-radius: 6px;
}
.popover td[aria-colindex="1"] {
  max-width: 120px;
}
.twitter-share {
  background-color: var(--primary);
  padding: 8px 16px;
  font-size: medium;
}
h1 {
  position: relative;
  top: -65px;
  margin: 0 -32px;
  padding: 150px 0;
  text-align: center;
  color: white;
  font-size: 6rem!important;
  font-weight: 700!important;
  background-image: radial-gradient(circle farthest-corner at 38.2% 14.5%, rgba(4, 191, 228, 1) 10%, rgba(2,83,185,1) 110% );
  animation: color-gradient 42s cubic-bezier(0.46, 0.13, 0.45, 0.88) 0.1s infinite;
}
@keyframes color-gradient {
  0% {
    background-position:top left;
    background-size:100% 100%;
  }
  50% {
    background-position:bottom left;
    background-size:400% 400%;
  }
  100% {
    background-position:top right;
    background-size:100% 100%;
  }
}
@media (max-height: 890px) {
  .dropdown-lang .dropdown-menu {
    top: 2%!important;
  }
}
@media (max-width: 1200px) {
  .list-hypernyms {
    column-count: 4;
  }
}
@media (max-width: 992px) {
  .list-hypernyms {
    column-count: 3;
  }
  .title-link {
    font-size: 4rem;
  }
  .game-progress {
    width: 80%;
  }
}
@media (max-width: 768px) {
  h1 {
    padding: 100px 0;
    font-size: 4.5rem!important;
  }
  .list-hypernyms {
    column-count: 3;
  }
  .title-link {
    font-size: 3.2rem;
  }
}
@media (max-width: 576px) {
  body, html {
    padding:0;
    overflow-x: hidden;
  }
  h1 {
    top: -35px;
    padding: 40px 20px;
    font-size: 3rem!important;
  }
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
    margin-bottom:0;
  }
  .title-link {
    font-size: 3rem;
  }
  .mobile-w-0 {
    max-width: 0%;
  }
  .list-hypernyms {
    column-count: 2;
  }
  .tree-hypernyms {
    column-count: 1;
  }
  .language-options-switcher {
    right: 0;
    top: 0;
  }
}
@media (max-width: 455px) {
  .game-progress {
    width: 76.5%;
  }
  .title-link {
    font-size: 2.5rem;
  }
}
@media (max-width: 375px) {
  .game-progress {
    width: 70%;
  }
  .title-link {
    font-size: 2.25rem;
  }
}